sourceDir = "~/.vdotfiles"

[data.ghostty_font.darwin]
face = "Cascadia Mono PL"
size = "14"
feats = ['ss01', 'ss19', 'ss20']

[data.ghostty_font.linux]
face = "IBM Plex Mono"
size = "12"
feats = ['ss03']
