font-family = Maple Mono NL NF
{{- if eq .chezmoi.os "darwin" }}
font-size = 14
quit-after-last-window-closed = true
{{- else }}
font-size = 11
window-theme = ghostty
window-decoration = client
{{- end }}
cursor-style-blink = false
shell-integration-features = no-cursor
window-padding-color = extend

{{- if eq .chezmoi.os "linux" }}
keybind = alt+t=new_tab
keybind = alt+c=copy_to_clipboard
keybind = alt+v=paste_from_clipboard
# bring back after 1.3.0
# keybind = alt+f=start_search
# keybind = alt+e=search_selection
{{- end }}
keybind = ctrl+g>c=new_tab
keybind = ctrl+g>v=new_split:right
keybind = ctrl+g>s=new_split:down
keybind = ctrl+g>h=goto_split:left
keybind = ctrl+g>j=goto_split:bottom
keybind = ctrl+g>k=goto_split:top
keybind = ctrl+g>l=goto_split:right
keybind = ctrl+g>r=reload_config
keybind = ctrl+g>f=toggle_fullscreen
keybind = ctrl+g>d=toggle_window_decorations
